<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="!logginIn">
            {{ getFragmentIdentifier() }}
            <form action="https://accounts.spotify.com/authorize" method="GET">
                <div>
                    <input name="client_id" :value="clientId" hidden>
                    <input name="response_type" value="code" hidden>
                    <input name="redirect_uri" :value="redirectURI" hidden>
                    <input name="scope" :value="scopes" hidden>
                    <input type="submit" value="Get auth">
                </div>
            </form>
        </div>
        <div v-else>
            <div v-if="tokenDone==false" hidden>
                {{ fetchAccessToken() }}
            </div>
            <div v-if="!deviceIdDone && tokenDone" hidden>
                {{ getDeviceId() }}
            </div>
            <button @click="playSong()">Play song from spotify window</button>
            <br><br>
            <div v-show="settingPlaylist">
                <a>Set playlist to mood:</a><br>
                <br><select >
                    <option>nooooo</option>
                    <option>oooook</option>
                </select>
                <select name="Moods">
                    <option>Neutral</option>
                    <option>Happy</option>
                    <option>Sad</option>
                </select>
                <button>Set {{playlist}} to {{selectMood}}</button>
                <button @click="settingPlaylist=false">Cancel</button>
            </div>
            <button v-show="!settingPlaylist" @click="settingPlaylist=true">Set a playlist to a mood</button>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>