<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
</head>

<body>
    <div id="app">
        <h1>
            UserID :
            {{ clientId }}
        </h1>
        <br>
        {{ getPermToken() }}
        <br>
        <div v-if="startupDone==false">
                {{ getToken() }}
        </div>
        <h2>
            Token : 
            {{ token }}
        </h2>
        <br>
        <div v-if="getCategoriesDone==false">
            {{ getGenres() }}
        </div>
        <h3>
            Most popular genre: 
            {{ genres[2].name }}
        </h3>
    </div>
    <script src="index.js"></script>
    <script>app.mount('#app');</script>
</body>

</html>