<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
</head>

<body>
    <div id="app">
        {{ clientId }}
        <div v-if="startupDone==false">
            {{ getToken() }}
        </div>
        {{ token }}
        <div v-if="getCategoriesDone==false">
            {{ getGenres() }}
        </div>
        {{ genres[2].name }}
    </div>
    <script src="index.js"></script>
    <script>app.mount('#app');</script>
</body>

</html>